### CHECK THE WEL1W.ZIP & CAL1W.ZIP

In [5]:
import pandas as pd
import numpy as np
import os

In [9]:
cal_file = '/home/zxt/check/CAL1W/'
wel_file = '/home/zxt/check/WEL1W'

In [10]:
wel_img_list = os.listdir(wel_file)
cal_img_list = os.listdir(cal_file)

In [11]:
wel_img_list[:2]

['1603150213300952S194.JPG', '01111510160605197512.JPG']

In [12]:
cal_img_list[:2]

['58ce3cf3-23d2-11e8-a6a3-ec086b02610b.jpg',
 '5a27da76-23d2-11e8-a6a3-ec086b02610b.jpg']

### WELLINGTON

In [13]:
df_wel = pd.read_csv('/home/zxt/data/wellington_camera_traps.csv')

In [14]:
df_wel.head(2)

,sequence,image_sequence,file,label,site,date,camera
0,2,image1,290716114012001a1116.jpg,BIRD,001a,7/29/2016 11:40,111
1,12,image1,100816090812001a1111.jpg,BIRD,001a,8/10/2016 9:08,111

In [15]:
len(wel_img_list)

16207

In [16]:
wel_real = []
for i in wel_img_list:
    wel_real.append(i[:-3]+'jpg')
len(wel_real)

16207

In [17]:
wel_real[:2]

['1603150213300952S194.jpg', '01111510160605197512.jpg']

In [18]:
df_wel.head(2)

,sequence,image_sequence,file,label,site,date,camera
0,2,image1,290716114012001a1116.jpg,BIRD,001a,7/29/2016 11:40,111
1,12,image1,100816090812001a1111.jpg,BIRD,001a,8/10/2016 9:08,111

In [20]:
len(df_wel)

270450

In [19]:
# map the label and file 
df_wel_1w = df_wel[df_wel['file'].isin(wel_real)]

In [21]:
len(df_wel_1w)

16207

In [23]:
df_wel_1w.head(2)

,sequence,image_sequence,file,label,site,date,camera
21,54,image1,151016083620001as461.jpg,BIRD,001a,10/15/2016 8:36,s46
77,151,image1,131116102402001c6371.jpg,BIRD,001c,11/13/2016 10:24,637

In [24]:
df_wel_1w.groupby(['label']).size().sort_values(ascending=False)

label
HEDGEHOG    10000
RABBIT       3000
BIRD         3000
HARE          207
dtype: int64

### CALTECH

In [25]:
import json
train_file = "/home/zxt/data/caltech_images_20190919.json"

In [26]:
with open(train_file) as data_file:
    train_anns = json.load(data_file)

In [27]:
len(train_anns['images'])

243100

In [28]:
animal_1w = [37,11,5,6,10,51,33,40,7]
label_dict = {37:[],11:[],5:[],6:[],10:[],51:[],33:[],40:[],7:[]}

In [29]:
for i in train_anns['annotations']:   
    if i['category_id'] in animal_1w:
        label_dict[i['category_id']].append(i['image_id']+'.jpg')

In [31]:
label_dict[37][0]

'58f73f1e-23d2-11e8-a6a3-ec086b02610b.jpg'

In [32]:
cal_img_list[0]

'58ce3cf3-23d2-11e8-a6a3-ec086b02610b.jpg'

In [34]:
len(cal_img_list)

26340

In [44]:
# from the value check the keys
# the dict is label_dict
label = []

for key,value in label_dict.items():
    for i in value:
        if i in cal_img_list:
            label.append(key)

In [45]:
len(label)

26340

In [48]:
label[2]

37

[37,11,5,6,10,51,33,40,7]

In [52]:
print('37:  '+str(label.count(37)))
print('11:  '+str(label.count(11)))
print('5:  '+str(label.count(5)))
print('6:  '+str(label.count(6)))
print('10:  '+str(label.count(10)))

print('51:  '+str(label.count(51)))
print('33:  '+str(label.count(33)))
print('40:  '+str(label.count(40)))
print('7:   '+str(label.count(7)))

37:  3000
11:  3000
5:  4000
6:  4000
10:  4000
51:  2500
33:  4000
40:  40
7:   1800