### test s06

In [44]:
import os,json

animal_1w = [21,39,17]
label_dict = {21:[],39:[],17:[]}

In [45]:
train_file = '/home/zxt/data/S06.json'

with open(train_file) as data_file:
    train_anns = json.load(data_file)

    for i in train_anns['annotations']:   
        if i['category_id'] in animal_1w:
            label_dict[i['category_id']].append(i['image_id']+'.JPG')

In [46]:
len(label_dict)

3

In [47]:
label_dict.keys()

dict_keys([21, 39, 17])

In [48]:
len(label_dict[21])

542

In [49]:
len(label_dict[39])

84

In [50]:
len(label_dict[17])

3912

In [12]:
key = [21,39,17]

In [33]:
# label_dict[21]

In [34]:
label_dict['female_lion']=label_dict[21]

In [39]:
len(label_dict[21])

542

In [40]:
len(label_dict)

4

In [41]:
len(label_dict['female_lion'])

542

In [42]:
del label_dict[21]

In [43]:
len(label_dict)

3

In [51]:
# check caltech
train_file = "/home/zxt/data/caltech_images_20190919.json"
with open(train_file) as data_file:
    train_anns = json.load(data_file)

In [53]:
train_anns.keys()

dict_keys(['images', 'annotations', 'categories', 'info'])

In [54]:
train_anns['categories']

[{'name': 'bobcat', 'id': 6},
 {'name': 'opossum', 'id': 1},
 {'name': 'empty', 'id': 30},
 {'name': 'coyote', 'id': 9},
 {'name': 'raccoon', 'id': 3},
 {'name': 'bird', 'id': 11},
 {'name': 'dog', 'id': 8},
 {'name': 'cat', 'id': 16},
 {'name': 'squirrel', 'id': 5},
 {'name': 'rabbit', 'id': 10},
 {'name': 'skunk', 'id': 7},
 {'name': 'lizard', 'id': 14},
 {'name': 'rodent', 'id': 99},
 {'name': 'badger', 'id': 21},
 {'name': 'deer', 'id': 34},
 {'name': 'cow', 'id': 37},
 {'name': 'car', 'id': 33},
 {'name': 'fox', 'id': 51},
 {'name': 'pig', 'id': 39},
 {'name': 'mountain_lion', 'id': 40},
 {'name': 'bat', 'id': 66},
 {'name': 'insect', 'id': 97}]

In [55]:
# check serengeti name vs category_id
# S06

train_file = '/home/zxt/data/S06.json'

with open(train_file) as data_file:
    train_anns = json.load(data_file)

In [56]:
train_anns.keys()

dict_keys(['info', 'categories', 'images', 'annotations'])

In [57]:
train_anns['categories']

[{'id': 0, 'name': 'empty'},
 {'id': 1, 'name': 'human'},
 {'id': 2, 'name': 'gazellegrants'},
 {'id': 3, 'name': 'reedbuck'},
 {'id': 4, 'name': 'dikdik'},
 {'id': 5, 'name': 'zebra'},
 {'id': 6, 'name': 'porcupine'},
 {'id': 7, 'name': 'gazellethomsons'},
 {'id': 8, 'name': 'hyenaspotted'},
 {'id': 9, 'name': 'warthog'},
 {'id': 10, 'name': 'impala'},
 {'id': 11, 'name': 'elephant'},
 {'id': 12, 'name': 'aardvark'},
 {'id': 13, 'name': 'giraffe'},
 {'id': 14, 'name': 'mongoose'},
 {'id': 15, 'name': 'buffalo'},
 {'id': 16, 'name': 'hartebeest'},
 {'id': 17, 'name': 'guineafowl'},
 {'id': 18, 'name': 'wildebeest'},
 {'id': 19, 'name': 'leopard'},
 {'id': 20, 'name': 'ostrich'},
 {'id': 21, 'name': 'lionfemale'},
 {'id': 22, 'name': 'koribustard'},
 {'id': 23, 'name': 'otherbird'},
 {'id': 24, 'name': 'cheetah'},
 {'id': 25, 'name': 'honeybadger'},
 {'id': 26, 'name': 'bushbuck'},
 {'id': 27, 'name': 'jackal'},
 {'id': 28, 'name': 'aardwolf'},
 {'id': 29, 'name': 'hippopotamus'},
 {'id': 30, 'name': 'hyenastriped'},
 {'id': 31, 'name': 'hare'},
 {'id': 32, 'name': 'baboon'},
 {'id': 33, 'name': 'monkeyvervet'},
 {'id': 34, 'name': 'batearedfox'},
 {'id': 35, 'name': 'waterbuck'},
 {'id': 36, 'name': 'secretarybird'},
 {'id': 37, 'name': 'topi'},
 {'id': 38, 'name': 'serval'},
 {'id': 39, 'name': 'lionmale'},
 {'id': 40, 'name': 'eland'},
 {'id': 41, 'name': 'rodents'},
 {'id': 42, 'name': 'wildcat'},
 {'id': 43, 'name': 'civet'},
 {'id': 44, 'name': 'genet'},
 {'id': 45, 'name': 'zorilla'},
 {'id': 46, 'name': 'caracal'},
 {'id': 47, 'name': 'rhinoceros'},
 {'id': 48, 'name': 'reptiles'},
 {'id': 49, 'name': 'insectspider'},
 {'id': 50, 'name': 'duiker'},
 {'id': 51, 'name': 'cattle'},
 {'id': 52, 'name': 'vulture'},
 {'id': 53, 'name': 'steenbok'},
 {'id': 54, 'name': 'bat'},
 {'id': 55, 'name': 'fire'},
 {'id': 56, 'name': 'hyenabrown'},
 {'id': 57, 'name': 'wilddog'},
 {'id': 58, 'name': 'kudu'},
 {'id': 59, 'name': 'pangolin'},
 {'id': 60, 'name': 'lioncub'}]

In [58]:
train_file = '/home/zxt/data/S07.json'

with open(train_file) as data_file:
    train_anns = json.load(data_file)

In [59]:
train_anns['categories']

[{'id': 0, 'name': 'empty'},
 {'id': 1, 'name': 'human'},
 {'id': 2, 'name': 'gazellegrants'},
 {'id': 3, 'name': 'reedbuck'},
 {'id': 4, 'name': 'dikdik'},
 {'id': 5, 'name': 'zebra'},
 {'id': 6, 'name': 'porcupine'},
 {'id': 7, 'name': 'gazellethomsons'},
 {'id': 8, 'name': 'hyenaspotted'},
 {'id': 9, 'name': 'warthog'},
 {'id': 10, 'name': 'impala'},
 {'id': 11, 'name': 'elephant'},
 {'id': 12, 'name': 'aardvark'},
 {'id': 13, 'name': 'giraffe'},
 {'id': 14, 'name': 'mongoose'},
 {'id': 15, 'name': 'buffalo'},
 {'id': 16, 'name': 'hartebeest'},
 {'id': 17, 'name': 'guineafowl'},
 {'id': 18, 'name': 'wildebeest'},
 {'id': 19, 'name': 'leopard'},
 {'id': 20, 'name': 'ostrich'},
 {'id': 21, 'name': 'lionfemale'},
 {'id': 22, 'name': 'koribustard'},
 {'id': 23, 'name': 'otherbird'},
 {'id': 24, 'name': 'cheetah'},
 {'id': 25, 'name': 'honeybadger'},
 {'id': 26, 'name': 'bushbuck'},
 {'id': 27, 'name': 'jackal'},
 {'id': 28, 'name': 'aardwolf'},
 {'id': 29, 'name': 'hippopotamus'},
 {'id': 30, 'name': 'hyenastriped'},
 {'id': 31, 'name': 'hare'},
 {'id': 32, 'name': 'baboon'},
 {'id': 33, 'name': 'monkeyvervet'},
 {'id': 34, 'name': 'batearedfox'},
 {'id': 35, 'name': 'waterbuck'},
 {'id': 36, 'name': 'secretarybird'},
 {'id': 37, 'name': 'topi'},
 {'id': 38, 'name': 'serval'},
 {'id': 39, 'name': 'lionmale'},
 {'id': 40, 'name': 'eland'},
 {'id': 41, 'name': 'rodents'},
 {'id': 42, 'name': 'wildcat'},
 {'id': 43, 'name': 'civet'},
 {'id': 44, 'name': 'genet'},
 {'id': 45, 'name': 'zorilla'},
 {'id': 46, 'name': 'caracal'},
 {'id': 47, 'name': 'rhinoceros'},
 {'id': 48, 'name': 'reptiles'},
 {'id': 49, 'name': 'insectspider'},
 {'id': 50, 'name': 'duiker'},
 {'id': 51, 'name': 'cattle'},
 {'id': 52, 'name': 'vulture'},
 {'id': 53, 'name': 'steenbok'},
 {'id': 54, 'name': 'bat'},
 {'id': 55, 'name': 'fire'},
 {'id': 56, 'name': 'hyenabrown'},
 {'id': 57, 'name': 'wilddog'},
 {'id': 58, 'name': 'kudu'},
 {'id': 59, 'name': 'pangolin'},
 {'id': 60, 'name': 'lioncub'}]

### UNIQUE CATEGORY NAME

In [88]:
# total 22 categories animals
unique_name = ['cattle','wild_boar','elk','mule_deer','black_bear','bird','squirrel','bobcat','hare','lion','fox','skunk','moose','vehicle','hedgehog','zebra','wildebeest','gazellethomosons','buffalo','elephant','guineafowl','giraffe']

In [89]:
len(unique_name)

22

### S06 DICT

In [96]:
import os,json

animal_1w = [21,39,17]
label_dict = {5:[],18:[],7:[],13:[],15:[],11:[],21:[],39:[],17:[]}

In [97]:
train_file = '/home/zxt/data/S06.json'

with open(train_file) as data_file:
    train_anns = json.load(data_file)

    for i in train_anns['annotations']:   
        if i['category_id'] in animal_1w:
            label_dict[i['category_id']].append(i['image_id'][14:]+'.JPG')

In [98]:
label_dict.keys()

dict_keys([5, 18, 7, 13, 15, 11, 21, 39, 17])

In [99]:
print('5:  '+ str(len(label_dict[5])))
print('18: '+ str(len(label_dict[18])))
print('7:  '+ str(len(label_dict[7])))
print('15: '+ str(len(label_dict[15])))
print('11: '+ str(len(label_dict[11])))

print('21: '+ str(len(label_dict[21])))
print('39: '+ str(len(label_dict[39])))
print('17: '+ str(len(label_dict[17])))

5:  0
18: 0
7:  0
15: 0
11: 0
21: 542
39: 84
17: 3912

In [100]:
label_dict[21][0]

'S6_B05_R2_IMAG0726.JPG'

### S07

In [297]:
train_file = '/home/zxt/data/S07.json'

animal_1w = [15,11,13,21,39,17]


with open(train_file) as data_file:
    train_anns = json.load(data_file)

    for i in train_anns['annotations']:   
        if i['category_id'] in animal_1w:
            label_dict[i['category_id']].append(i['image_id'][14:]+'.JPG')

In [298]:
label_dict.keys()

dict_keys([5, 18, 7, 13, 15, 11, 21, 39, 17])

In [299]:
print('5:  '+ str(len(label_dict[5])))
print('18: '+ str(len(label_dict[18])))
print('7:  '+ str(len(label_dict[7])))
print('15: '+ str(len(label_dict[15])))
print('11: '+ str(len(label_dict[11])))
print('13: '+ str(len(label_dict[13])))
print('21: '+ str(len(label_dict[21])))
print('39: '+ str(len(label_dict[39])))
print('17: '+ str(len(label_dict[17])))

5:  28951
18: 63925
7:  17062
15: 21292
11: 26981
13: 19476
21: 5407
39: 2409
17: 12673

### S09

In [105]:
train_file = '/home/zxt/data/S09.json'

animal_1w = [15,11,13,21,39,17]


with open(train_file) as data_file:
    train_anns = json.load(data_file)

    for i in train_anns['annotations']:   
        if i['category_id'] in animal_1w:
#             print(i['image_id'][14:])
            label_dict[i['category_id']].append(i['image_id'][14:]+'.JPG')

In [109]:
print('5:  '+ str(len(label_dict[5])))
print('18: '+ str(len(label_dict[18])))
print('7:  '+ str(len(label_dict[7])))
print('15: '+ str(len(label_dict[15])))
print('11: '+ str(len(label_dict[11])))
print('13: '+ str(len(label_dict[13])))
print('21: '+ str(len(label_dict[21])))
print('39: '+ str(len(label_dict[39])))
print('17: '+ str(len(label_dict[17])))

5:  28951
18: 63925
7:  17062
15: 15511
11: 18628
13: 13307
21: 4442
39: 1743
17: 10447

### S10

In [108]:
train_file = '/home/zxt/data/S10.json'

animal_1w = [5,18,7,15,11,13,21,39,17]


with open(train_file) as data_file:
    train_anns = json.load(data_file)

    for i in train_anns['annotations']:   
        if i['category_id'] in animal_1w:
#             print(i['image_id'][15:])
            label_dict[i['category_id']].append(i['image_id'][15:]+'.JPG')

In [110]:
print('5:  '+ str(len(label_dict[5])))
print('18: '+ str(len(label_dict[18])))
print('7:  '+ str(len(label_dict[7])))
print('15: '+ str(len(label_dict[15])))
print('11: '+ str(len(label_dict[11])))
print('13: '+ str(len(label_dict[13])))
print('21: '+ str(len(label_dict[21])))
print('39: '+ str(len(label_dict[39])))
print('17: '+ str(len(label_dict[17])))

5:  28951
18: 63925
7:  17062
15: 15511
11: 18628
13: 13307
21: 4442
39: 1743
17: 10447

### create the map

In [113]:
label = ['cattle','wild_boar','elk','mule_deer','black_bear','bird','squirrel','bobcat','hare','lion','fox','skunk','moose','vehicle','hedgehog','zebra','wildebeest','gazellethomosons','buffalo','elephant','guineafowl','giraffe']

In [114]:
label

['cattle',
 'wild_boar',
 'elk',
 'mule_deer',
 'black_bear',
 'bird',
 'squirrel',
 'bobcat',
 'hare',
 'lion',
 'fox',
 'skunk',
 'moose',
 'vehicle',
 'hedgehog',
 'zebra',
 'wildebeest',
 'gazellethomosons',
 'buffalo',
 'elephant',
 'guineafowl',
 'giraffe']

In [126]:
label_dict_all = {'cattle':[],'wild_boar':[],'elk':[],'mule_deer':[],
                  'black_bear':[],'bird':[],'squirrel':[],'bobcat':[],
                 'hare':[],'lion':[],'fox':[],'skunk':[],'moose':[],
                 'vehicle':[],'hedgehog':[],'zebra':[],'wildebeest':[],
                 'gazellethomosons':[],'buffalo':[],'elephant':[],
                 'guineafowl':[],'giraffe':[]}

In [119]:
len(label_dict_SER)

22

In [120]:
label_dict[39][0]

'S6_B06_R1_IMAG0115.JPG'

In [123]:
lion_list = label_dict[39]+label_dict[21]

In [124]:
len(lion_list)

6185

In [127]:
for i in lion_list:
    label_dict_all['lion'].append(i)

In [128]:
len(label_dict_all['lion'])

6185

In [129]:
label_dict_all['lion'][0]

'S6_B06_R1_IMAG0115.JPG'

In [134]:
# zebra 5 
len(label_dict[5])

28951

In [135]:
label_dict[5][0]

'S10_B03_R1_IMAG0531.JPG'

In [137]:
for i in label_dict[5]:
    label_dict_all['zebra'].append(i)

In [139]:
# wildebeest  18
len(label_dict[18])

63925

In [140]:
label_dict[18][0]

'S10_B03_R1_IMAG0755.JPG'

In [141]:
for i in label_dict[18]:
    label_dict_all['wildebeest'].append(i)

In [142]:
# gazellethomosons 7 

for i in label_dict[7]:
    label_dict_all['gazellethomosons'].append(i)

In [143]:
# buffalo 15 

for i in label_dict[15]:
    label_dict_all['buffalo'].append(i)

In [144]:
# elephant 11 

for i in label_dict[11]:
    label_dict_all['elephant'].append(i)

In [145]:
# guineafowl 17 
for i in label_dict[17]:
    label_dict_all['guineafowl'].append(i)

In [146]:
len(label_dict_all['guineafowl'])

10447

### verify the volume

In [147]:
print('5:  '+ str(len(label_dict[5])))
print('18: '+ str(len(label_dict[18])))
print('7:  '+ str(len(label_dict[7])))
print('15: '+ str(len(label_dict[15])))
print('11: '+ str(len(label_dict[11])))
print('13: '+ str(len(label_dict[13])))
print('21: '+ str(len(label_dict[21])))
print('39: '+ str(len(label_dict[39])))
print('17: '+ str(len(label_dict[17])))

5:  28951
18: 63925
7:  17062
15: 15511
11: 18628
13: 13307
21: 4442
39: 1743
17: 10447

In [151]:
print('zebra +5: '+ str(len(label_dict_all['zebra'])))
print('wildebeest +18: '+ str(len(label_dict_all['wildebeest'])))
print('gazellethomosons +7: '+ str(len(label_dict_all['gazellethomosons'])))
print('buffalo +15: '+ str(len(label_dict_all['buffalo'])))
print('elephant +11: '+ str(len(label_dict_all['elephant'])))
print('giraffe +13: '+ str(len(label_dict_all['giraffe'])))
print('lion +21: '+ str(len(label_dict_all['lion'])))
print('lion +39: '+ str(len(label_dict_all['lion'])))
print('guineafowl +17: '+ str(len(label_dict_all['guineafowl'])))

zebra +5: 28951
wildebeest +18: 63925
gazellethomosons +7: 17062
buffalo +15: 15511
elephant +11: 18628
giraffe +13: 0
lion +21: 6185
lion +39: 6185
guineafowl +17: 10447

#### showed that the volume is correct!!!

## CAL MAP

In [158]:
# total 8 categories

train_file = "/home/zxt/data/caltech_images_20190919.json"

animal_1w = [37,11,5,6,51,33,40,7]
label_dict_CAL = {37:[],11:[],5:[],6:[],51:[],33:[],40:[],7:[]}

with open(train_file) as data_file:
    train_anns = json.load(data_file)

In [161]:
for i in train_anns['annotations']:
    if i['category_id'] in animal_1w:
        label_dict_CAL[i['category_id']].append(i['image_id']+'.jpg')

In [163]:
label_dict_CAL.keys()

dict_keys([37, 11, 5, 6, 51, 33, 40, 7])

In [164]:
label_dict_CAL[37][0]

'58f73f1e-23d2-11e8-a6a3-ec086b02610b.jpg'

In [165]:
# cattle 37
for i in label_dict_CAL[37]:
    label_dict_all['cattle'].append(i)

In [166]:
# bird 11
for i in label_dict_CAL[11]:
    label_dict_all['bird'].append(i)

In [167]:
# squirrel 5 
for i in label_dict_CAL[5]:
    label_dict_all['squirrel'].append(i)

In [168]:
# bobcat 6 
for i in label_dict_CAL[6]:
    label_dict_all['bobcat'].append(i)

In [169]:
# fox 51
for i in label_dict_CAL[51]:
    label_dict_all['fox'].append(i)

In [170]:
# vehicle 33
for i in label_dict_CAL[33]:
    label_dict_all['vehicle'].append(i)

In [171]:
# lion 40 
for i in label_dict_CAL[40]:
    label_dict_all['lion'].append(i)

In [172]:
# skunk 7 
for i in label_dict_CAL[7]:
    label_dict_all['skunk'].append(i)

#### verify the volume

In [182]:
print('cattle +37: '+ str(len(label_dict_all['cattle'])))
print('bird +11: '+ str(len(label_dict_all['bird'])))
print('squirrel +5: '+ str(len(label_dict_all['squirrel'])))
print('bobcat +6: '+ str(len(label_dict_all['bobcat'])))
print('fox +51: '+ str(len(label_dict_all['fox'])))
print('vehicle +33: '+ str(len(label_dict_all['vehicle'])))
print('lion +40: '+ str(len(label_dict_all['lion'])))
print('skunk +7: '+ str(len(label_dict_all['skunk'])))

cattle +37: 3626
bird +11: 10003
squirrel +5: 4450
bobcat +6: 8098
fox +51: 2574
vehicle +33: 4717
lion +40: 6330
skunk +7: 1898

In [176]:
print('37:  '+ str(len(label_dict_CAL[37])))
print('11: '+ str(len(label_dict_CAL[11])))
print('5:  '+ str(len(label_dict_CAL[5])))
print('6: '+ str(len(label_dict_CAL[6])))
print('51: '+ str(len(label_dict_CAL[51])))
print('33: '+ str(len(label_dict_CAL[33])))
print('40: '+ str(len(label_dict_CAL[40])))
print('7: '+ str(len(label_dict_CAL[7])))

37:  3626
11: 10003
5:  4450
6: 8098
51: 2574
33: 4717
40: 145
7: 1898

In [177]:
len(label_dict_CAL[5])

4450

In [178]:
len(label_dict_all['squirrel'])

28951

In [179]:
label_dict_all['squirrel']=label_dict_CAL[5]

In [181]:
len(label_dict_all['squirrel'])

4450

## NA MAP

In [154]:
label_dict_all.keys()

dict_keys(['cattle', 'wild_boar', 'elk', 'mule_deer', 'black_bear', 'bird', 'squirrel', 'bobcat', 'hare', 'lion', 'fox', 'skunk', 'moose', 'vehicle', 'hedgehog', 'zebra', 'wildebeest', 'gazellethomosons', 'buffalo', 'elephant', 'guineafowl', 'giraffe'])

In [183]:
import pandas as pd 
df = pd.read_csv('/home/zxt/data/nacti_metadata.csv')

/home/zxt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,4,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [184]:
df.head(2)

,seq_no,id,filename,study,location,width,height,category_id,name,genus,family,order,class,common_name
0,0,2010_Unit150_Ivan097_img0001.jpg,part0/sub000/2010_Unit150_Ivan097_img0001.jpg,CPW,"San Juan Mntns, Colorado",2048,1536,10,cervus elaphus,cervus,cervidae,artiodactyla,mammalia,red deer
1,1,2010_Unit150_Ivan097_img0002.jpg,part0/sub000/2010_Unit150_Ivan097_img0002.jpg,CPW,"San Juan Mntns, Colorado",2048,1536,10,cervus elaphus,cervus,cervidae,artiodactyla,mammalia,red deer

In [187]:
df['common_name'].unique()

array(['red deer', 'coyote', 'american marten', 'mule deer', 'raccoon',
       'snowshoe hare', 'cougar', 'american black bear', 'red fox',
       'american red squirrel', 'unidentified bird',
       'north american porcupine', 'yellow-bellied marmot', 'moose',
       'unidentified chipmunk', 'wild turkey', 'domestic cow', 'bobcat',
       'horse', 'domestic dog', 'ermine', 'gray jay',
       'unidentified deer mouse', 'striped skunk', 'house wren',
       "steller's jay", 'dusky grouse', 'dark-eyed junco', 'vehicle',
       'gray fox', 'eastern gray squirrel', 'wild boar', 'elk',
       'california ground squirrel', 'california quail',
       'unidentified deer', 'black-tailed jackrabbit',
       'long-tailed weasel', 'unidentified rabbit', 'unidentified mouse',
       'unidentified pocket gopher', 'unidentified pack rat',
       'european badger', 'unidentified corvus', 'virginia opossum',
       'unidentified accipitrid', 'wolf', 'north american river otter',
       'nine-banded armadillo', 'donkey', 'empty'], dtype=object)

In [188]:
df2= df

In [189]:
len(df2)

3382215

In [190]:
df_3 = df2[df2['category_id']==3]
df_62 = df2[df2['category_id']==62]
df_9 = df2[df2['category_id']==9]
df_46 = df2[df2['category_id']==46]

df_67 = df2[df2['category_id']==67]
df_38 = df2[df2['category_id']==38]
df_64 = df2[df2['category_id']==64]
df_50 = df2[df2['category_id']==50]
df_59 = df2[df2['category_id']==59]

df_44 = df2[df2['category_id']==44]
df_26 = df2[df2['category_id']==26]
df_22 = df2[df2['category_id']==22]
df_55 = df2[df2['category_id']==55]

df_66 = df2[df2['category_id']==66]
df_69 = df2[df2['category_id']==69]
df_31 = df2[df2['category_id']==31]
df_1 = df2[df2['category_id']==1]
df_68 = df2[df2['category_id']==68]

In [191]:
df_3_sample = df_3.sample(n=7000,random_state=523,axis=0)    # cattle - 3 - 7000
df_62_sample = df_62.sample(n=10000,random_state=523,axis=0)  # wild pig - 62 - 1w
df_46_sample = df_46.sample(n=10000,random_state=523,axis=0)  # muler deer - 46 - 1w
df_9_sample = df_9.sample(n=10000,random_state=523,axis=0)    # elk - 9 - 1w

df_67_sample = df_67.sample(n=10000,random_state=523,axis=0)  # black bear - 67 - 1w
df_38_sample = df_38.sample(n=4000,random_state=523,axis=0)  # bird - 38 - 4000
df_64_sample = df_64.sample(n=1500,random_state=523,axis=0)  # squirrel - 64 - 1500
df_50_sample = df_50.sample(n=1500,random_state=523,axis=0)  # squirrel - 50 - 1500
df_59_sample = df_59.sample(n=1500,random_state=523,axis=0)  # squirrel - 59 - 1500


df_44_sample = df_44.sample(n=1500,random_state=523,axis=0)  # squirrel - 44 - 1500
df_26_sample = df_26.sample(n=6000,random_state=523,axis=0)  # bobcat - 26 - 6000
df_22_sample = df_22.sample(n=10000,random_state=523,axis=0)  # hare - 22 - 1w

df_55_sample = df_55.sample(n=9960,random_state=523,axis=0)  # mountain_lion - 55 - 9960
df_66_sample = df_66.sample(n=5800,random_state=523,axis=0)  # fox - 66 - 5800
df_69_sample = df_69.sample(n=1700,random_state=523,axis=0)  # fox - 69 - 1700

df_31_sample = df_31.sample(n=10000,random_state=523,axis=0)  # striped skunk - 31 - 1w
df_1_sample = df_1.sample(n=9960,random_state=523,axis=0)  # moose - 1 - 9960
df_68_sample = df_68.sample(n=6000,random_state=523,axis=0)  # car - 68 - 6000

In [194]:
sample_list = [df_3_sample, df_62_sample, df_46_sample,df_67_sample, df_38_sample, df_50_sample,df_59_sample, df_64_sample,df_44_sample,df_9_sample,df_26_sample, df_22_sample,df_55_sample, df_66_sample,df_69_sample, df_31_sample,df_1_sample, df_68_sample]

In [198]:
len(sample_list)

18

In [201]:
sample_list[0].head(2)

,seq_no,id,filename,study,location,width,height,category_id,name,genus,family,order,class,common_name
1810125,1810125,FL-13_06_01_2015_FL-13_0012670.jpg,part1/sub181/FL-13_06_01_2015_FL-13_0012670.jpg,FL,"Archbold, FL",2048,1536,3,bos taurus,bos,bovidae,artiodactyla,mammalia,domestic cow
467341,467341,CA-12_06_07_2016_CA-12_0008354.JPG,part0/sub046/CA-12_06_07_2016_CA-12_0008354.JPG,CA,"Lebec, California",2048,1536,3,bos taurus,bos,bovidae,artiodactyla,mammalia,domestic cow

In [218]:
# cattle  3 
lst = list(df_3_sample['filename'])
lst[0]

'part1/sub181/FL-13_06_01_2015_FL-13_0012670.jpg'

In [220]:
len(lst)

7000

In [221]:
lst1 = []
for i in lst:
    lst1.append(i[13:])

In [222]:
lst1[0]

'FL-13_06_01_2015_FL-13_0012670.jpg'

In [223]:
len(lst1)

7000

In [224]:
len(label_dict_all['cattle'])

3626

In [225]:
# cattle 3
for i in lst1:
    label_dict_all['cattle'].append(i)

In [226]:
len(label_dict_all['cattle'])

10626

In [230]:
# wild_boar  62

lst = list(df_62_sample['filename'])
print(lst[0])

part0/sub039/CA-06_08_04_2015_CA-06_0006826.jpg

In [231]:
lst1 = []
for i in lst:
    lst1.append(i[13:])

In [232]:
lst1[0]

'CA-06_08_04_2015_CA-06_0006826.jpg'

In [233]:
len(lst1)

10000

In [234]:
len(label_dict_all['wild_boar'])

0

In [235]:
# wild_boar  62
for i in lst1:
    label_dict_all['wild_boar'].append(i)

In [236]:
len(label_dict_all['wild_boar'])

10000

In [237]:
# elk   9 
lst = list(df_9_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part0/sub070/CA-27_08_17_2015_CA-27_0007422.jpg
CA-27_08_17_2015_CA-27_0007422.jpg
10000

In [243]:
print(len(label_dict_all['elk']))
for i in lst1:
    label_dict_all['elk'].append(i)
print(len(label_dict_all['elk']))

0
10000

In [247]:
# mule_deer   46
lst = list(df_46_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part0/sub032/2016_Unit189_Ivan020_img0190.jpg
2016_Unit189_Ivan020_img0190.jpg
10000

In [248]:
print(len(label_dict_all['mule_deer']))
for i in lst1:
    label_dict_all['mule_deer'].append(i)
print(len(label_dict_all['mule_deer']))

0
10000

In [249]:
# black_bear   67
lst = list(df_67_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part0/sub058/CA-18_11_08_2016_CA-18_0040729.JPG
CA-18_11_08_2016_CA-18_0040729.JPG
10000

In [250]:
print(len(label_dict_all['black_bear']))
for i in lst1:
    label_dict_all['black_bear'].append(i)
print(len(label_dict_all['black_bear']))

0
10000

In [251]:
# bird   38
lst = list(df_38_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part2/sub227/FL-22_07_06_2016_FL-22_0110742.JPG
FL-22_07_06_2016_FL-22_0110742.JPG
4000

In [252]:
print(len(label_dict_all['bird']))
for i in lst1:
    label_dict_all['bird'].append(i)
print(len(label_dict_all['bird']))

10003
14003

In [253]:
# squirrel  64 50 59 44
lst = list(df_64_sample['filename']) + list(df_50_sample['filename']) +list(df_59_sample['filename'])+list(df_44_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part0/sub026/2016_Unit031_Ivan080_img0457.jpg
2016_Unit031_Ivan080_img0457.jpg
6000

In [254]:
print(len(label_dict_all['squirrel']))
for i in lst1:
    label_dict_all['squirrel'].append(i)
print(len(label_dict_all['squirrel']))

4450
10450

In [255]:
# bobcat   26
lst = list(df_26_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part0/sub032/CA-01_02_11_2016_CA-01_0006858.jpg
CA-01_02_11_2016_CA-01_0006858.jpg
6000

In [256]:
print(len(label_dict_all['bobcat']))
for i in lst1:
    label_dict_all['bobcat'].append(i)
print(len(label_dict_all['bobcat']))

8098
14098

In [257]:
# hare    22
lst = list(df_22_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part0/sub006/2010_Unit175_Ivan037_img0078.jpg
2010_Unit175_Ivan037_img0078.jpg
10000

In [258]:
print(len(label_dict_all['hare']))
for i in lst1:
    label_dict_all['hare'].append(i)
print(len(label_dict_all['hare']))

0
10000

In [259]:
# lion    55
lst = list(df_55_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part0/sub049/CA-14_08_25_2016_CA-14_0021262.JPG
CA-14_08_25_2016_CA-14_0021262.JPG
9960

In [260]:
print(len(label_dict_all['lion']))
for i in lst1:
    label_dict_all['lion'].append(i)
print(len(label_dict_all['lion']))

6330
16290

In [261]:
# fox    66 69
lst = list(df_66_sample['filename']) + list(df_69_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part0/sub038/CA-05_03_03_2015_CA-05_0000100.jpg
CA-05_03_03_2015_CA-05_0000100.jpg
7500

In [262]:
print(len(label_dict_all['fox']))
for i in lst1:
    label_dict_all['fox'].append(i)
print(len(label_dict_all['fox']))

2574
10074

In [263]:
# skunk 31
lst = list(df_31_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part0/sub066/CA-24_08_12_2015_CA-24_0006356.jpg
CA-24_08_12_2015_CA-24_0006356.jpg
10000

In [264]:
print(len(label_dict_all['skunk']))
for i in lst1:
    label_dict_all['skunk'].append(i)
print(len(label_dict_all['skunk']))

1898
11898

In [265]:
# moose 1
lst = list(df_1_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part0/sub004/2010_Unit162_Ivan119_img0147.jpg
2010_Unit162_Ivan119_img0147.jpg
9960

In [266]:
print(len(label_dict_all['moose']))
for i in lst1:
    label_dict_all['moose'].append(i)
print(len(label_dict_all['moose']))

0
9960

In [267]:
# vehicle 68
lst = list(df_68_sample['filename'])
print(lst[0])

lst1 = []
for i in lst:
    lst1.append(i[13:])
print(lst1[0])

print(len(lst1))

part1/sub168/FL-09_09_03_2015_FL-09_0033391.jpg
FL-09_09_03_2015_FL-09_0033391.jpg
6000

In [268]:
print(len(label_dict_all['vehicle']))
for i in lst1:
    label_dict_all['vehicle'].append(i)
print(len(label_dict_all['vehicle']))

4717
10717

## WELLINGTON MAP

In [269]:
df = pd.read_csv('/home/zxt/data/wellington_camera_traps.csv')

In [271]:
all_bird = df[df['label']=='BIRD']
all_hedgehog = df[df['label']=='HEDGEHOG']
all_hare = df[df['label']=='HARE']

In [272]:
print('all_bird: '+ str(len(all_bird)))
print('all_hedgehog: '+ str(len(all_hedgehog)))
print('all_hare: '+ str(len(all_hare)))

all_bird: 154525
all_hedgehog: 10706
all_hare: 207

In [273]:
import random
random.seed(523)

In [274]:
all_bird[:2]

,sequence,image_sequence,file,label,site,date,camera
0,2,image1,290716114012001a1116.jpg,BIRD,001a,7/29/2016 11:40,111
1,12,image1,100816090812001a1111.jpg,BIRD,001a,8/10/2016 9:08,111

In [275]:
all_bird_name = list(all_bird['file'])
all_hedgehog_name = list(all_hedgehog['file'])
all_hare_name = list(all_hare['file'])

In [276]:
sample_bird = random.sample(all_bird_name, 3000)
sample_hedgehog = random.sample(all_hedgehog_name,10000)
sample_hare = all_hare_name

In [277]:
print(len(sample_bird))
print(len(sample_hedgehog))
print(len(sample_hare))

3000
10000
207

In [278]:
sample_hare[0]

'170616162852024c9711.jpg'

In [280]:
sample_bird[0]

'251016153404001bs172.jpg'

In [281]:
# bird
lst1 = []
for i in sample_bird:
    lst1.append(i[:-3]+'JPG')
lst1[0]

'251016153404001bs172.JPG'

In [282]:
len(lst1)

3000

In [283]:
print(len(label_dict_all['bird']))
for i in lst1:
    label_dict_all['bird'].append(i)
print(len(label_dict_all['bird']))

14003
17003

In [284]:
# hedgehog
lst1 = []
for i in sample_hedgehog:
    lst1.append(i[:-3]+'JPG')
lst1[0]

'260316223310046b0153.JPG'

In [285]:
len(lst1)

10000

In [286]:
print(len(label_dict_all['hedgehog']))
for i in lst1:
    label_dict_all['hedgehog'].append(i)
print(len(label_dict_all['hedgehog']))

0
10000

In [287]:
# hare
lst1 = []
for i in sample_hare:
    lst1.append(i[:-3]+'JPG')
lst1[0]

'170616162852024c9711.JPG'

In [288]:
len(lst1)

207

In [289]:
print(len(label_dict_all['hare']))
for i in lst1:
    label_dict_all['hare'].append(i)
print(len(label_dict_all['hare']))

10000
10207

# NOW IS THE FINAL label_dict_all

In [290]:
label_dict_all.keys()

dict_keys(['cattle', 'wild_boar', 'elk', 'mule_deer', 'black_bear', 'bird', 'squirrel', 'bobcat', 'hare', 'lion', 'fox', 'skunk', 'moose', 'vehicle', 'hedgehog', 'zebra', 'wildebeest', 'gazellethomosons', 'buffalo', 'elephant', 'guineafowl', 'giraffe'])

In [295]:
print('cattle has: '+str(len(label_dict_all['cattle'])))
print('wild_boar has: '+str(len(label_dict_all['wild_boar'])))
print('elk has: '+str(len(label_dict_all['elk'])))
print('mule_deer has: '+str(len(label_dict_all['mule_deer'])))
print('black_bear has: '+str(len(label_dict_all['black_bear'])))

print('bird has: '+str(len(label_dict_all['bird'])))
print('squirrel has: '+str(len(label_dict_all['squirrel'])))
print('bobcat has: '+str(len(label_dict_all['bobcat'])))
print('hare has: '+str(len(label_dict_all['hare'])))
print('lion has: '+str(len(label_dict_all['lion'])))

print('fox has: '+str(len(label_dict_all['fox'])))
print('skunk has: '+str(len(label_dict_all['skunk'])))
print('moose has: '+str(len(label_dict_all['moose'])))
print('vehicle has: '+str(len(label_dict_all['vehicle'])))
print('hedgehog has: '+str(len(label_dict_all['hedgehog'])))

print('zebra has: '+str(len(label_dict_all['zebra'])))
print('wildebeest has: '+str(len(label_dict_all['wildebeest'])))
print('gazellethomosons has: '+str(len(label_dict_all['gazellethomosons'])))
print('buffalo has: '+str(len(label_dict_all['buffalo'])))
print('elephant has: '+str(len(label_dict_all['elephant'])))

print('guineafowl has: '+str(len(label_dict_all['guineafowl'])))
print('giraffe has: '+str(len(label_dict_all['giraffe'])))

cattle has: 10626
wild_boar has: 10000
elk has: 10000
mule_deer has: 10000
black_bear has: 10000
bird has: 17003
squirrel has: 10450
bobcat has: 14098
hare has: 10207
lion has: 16290
fox has: 10074
skunk has: 11898
moose has: 9960
vehicle has: 10717
hedgehog has: 10000
zebra has: 28951
wildebeest has: 63925
gazellethomosons has: 17062
buffalo has: 15511
elephant has: 18628
guineafowl has: 10447
giraffe has: 0